{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block header %}<h1>Login</h1>{% endblock %}

{% block content %}
    {% include "Tom32iUserBundle:Security:login_content.html.twig" %}
{% endblock content %}