{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block header %}
<h1>Register</h1>
{% endblock %}

{% block content %}
	{% include "Tom32iUserBundle:Registration:register_content.html.twig" %}
{% endblock %}