{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block header %}
    <h1>Delete my account</h1>
{% endblock %}

{% block content %}
<form action="{{ path('profile_delete') }}" {{ form_enctype(form) }} method="POST">
    <p>If you delete your account, all your data will be definitly removed.</p>

    {{ form_widget(form) }}

    <button type="submit">
        Delete my account
    </button>
</form>
{% endblock content %}