{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block header %}
    <h1>My profile</h1>
{% endblock %}

{% block content %}
<form action="{{ path('profile_edit') }}" {{ form_enctype(form) }} method="POST">

   {{ form_widget(form) }}

    <button type="submit">
        Save
    </button>
</form>
{% endblock content %}