{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block header %}
    <h1>Request a new password</h1>
{% endblock %}

{% block content %}
{% if form is defined %}
    <form action="{{ path('request_password') }}" {{ form_enctype(form) }} method="POST">
        <p>Please type your email adress so you can choose a new password.</p>

        {{ form_widget(form) }}

        <button type="submit">
            Send
        </button>
    </form>
{% else %}
    <p>We just sent you an email at <strong>{{ data.email }}</strong>.</p>
    <p>It'll give you a link to choose a new password.</p>
{% endif %}
{% endblock %}