{% extends "Tom32iUserBundle::layout.html.twig" %}

{% block container_header %}{% endblock %}

{% block content %}
<div id="action" class=" span4 offset4">
    <h1 class="page-header">
        Request a new password
    </h1>

    <div id="delete_box" class="well box">
        <div class="row-fluid">
            {% if form is defined %}
                {% form_theme form 'Tom32iUserBundle:Form:profile.html.twig' %}
                <form action="{{ path('request_password') }}" {{ form_enctype(form) }} method="POST" class="request_password">
                    <p>Please type your email adress so you can choose a new password.</p>

                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary btn-block btn-large">
                        Send me an email
                    </button>
                </form>
            {% else %}
                <p>We just sent you an email at <strong>{{ data.email }}</strong>.</p>
                <p>It'll give you a link to choose a new password.</p>
                <p class="muted">Lucky you...</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}